<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/Pelikan-color.png">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/responsive.css">


    <link rel="manifest" href="/manifest.json"/>
    <!-- <link rel="apple-touch-icon" href="/assets/images/logo-96x96.png"> -->
    <meta name="apple-mobile-web-app-status-bar" content="#FFE1C4">
    <meta name="theme-color" content="#FFE1C4">
    <script src="/app.js"></script>
    <title>Pelikan MT</title>
</head>
<body id="app-home">
    <div id="conectivity">
        <button id="color-status" alt="conecção" class="disconected"></button>
    </div>

    <main id="app-home-views">

        <h1 alt="titulo">Pelikan</h1>
        <h3 alt="sub-titulo">Translation Monitor</h3>
  
        <img id="main-logo"  src="/img/Pelikan-color.png" alt="Logo colorida">
        <p>Monitore seus recurso de tradução.</p>
        
        <div>
            <button class="button-sec" alt="botao Pesquisar"><img src="/img/search.svg" alt="icon sear"> Pesquisar</button>
            <button class="button-main" alt="botao monitorar" href=""><img src="/img/monitor.svg" alt="icon monitor"> Monitorar</button>
        </div>


    </main>


<script type="module" src="/scripts/index.js" ></script>

</body>
</html> 