<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/Pelikan-color.png">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/search.css">

    <link rel="stylesheet" href="/styles/responsive.css">
    <title>Pesquisar</title>

    
</head>
<body id="page-search" class="view">
    <header>
        <div class="head-bar">
            <button class="bt-return"><img src="/img/arrow-left.svg" alt=""></button>
            <div class="triangle-box">
                <img id="logo" src="/img/logo.png" alt="logo">
                <div class="triangle">
                </div>
            </div>
            <button class="bt-options"><img src="/img/menu.svg" alt="icon menu"></button>
        </div>
    </header>
    <main class="search-views">
       
        <div class="monitor-box">
            <label for="">Pesquisar conteúdo:</label>
            <input type="text">
        </div>
        <details class="list-translations">
            <div class="ajuste"></div>
            <summary class="title-list">
                <h2>Traduções Encontradas:</h2><span class="qtd">Qtd:</span>
            </summary>
            
            <div class="translation">
                <div class="title-translation">
                    <h3>resource_id</h3><span class="update">update</span>
                </div>
                <span>Valor</span>
            </div>
<!--  -->
            <div class="translation">
                <div class="title-translation">
                    <h3>resource_id</h3><span class="update">update</span>
                </div>
                <span>Valor</span>
            </div>
            <div class="translation">
                <div class="title-translation">
                    <h3>resource_id</h3><span class="update">update</span>
                </div>
                <span>Valor</span>
            </div>
            <div class="translation">
                <div class="title-translation">
                    <h3>resource_id</h3><span class="update">update</span>
                </div>
                <span>Valor</span>
            </div>
            <div class="translation">
                <div class="title-translation">
                    <h3>resource_id</h3><span class="update">update</span>
                </div>
                <span>Valor</span>
            </div>
            <div class="translation">
                <div class="title-translation">
                    <h3>resource_id</h3><span class="update">update</span>
                </div>
                <span>Valor</span>
            </div>
            <div class="translation">
                <div class="title-translation">
                    <h3>resource_id</h3><span class="update">update</span>
                </div>
                <span>Valor</span>
            </div>
            <div class="translation">
                <div class="title-translation">
                    <h3>resource_id</h3><span class="update">update</span>
                </div>
                <span>Valor</span>
            </div>
<!--  -->

        </details>

        <script type="module" src="/scripts/search.js"></script>
    </main>
</body>
</html> 