#app-home{
    background-color: gray/*var(--color-especial)*/;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
#app-home img#main-logo{
    width: 60vw;
    max-width: 200px;
    /* border: 1px solid red; */
    /* margin-left:20vw ; */
}

#app-home-views{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin: auto 10vw ; */
    /* border: 1px solid black; */
    max-width: 700px;
    font-size: 2em;
    padding: 5vh 0;
}

#app-home-views h1,h3{
    color: var(--color-primary);
    text-shadow: 2px 4px 10px black;
    text-align: center;
    /* padding: 5vh 0; */
    
}

#app-home-views h3{
    color: var(--color-background);
}
#app-home-views p{
    color: whitesmoke;
    text-align: center;
    width: 80vw;
    font-size: 60%;
    margin-bottom: 5vh;
}

#app-home #conectivity{
    position: absolute;
    left:   80vw;
    top: 5vh;
    display: block;
    /* width: 100%; */
    /* flex-direction: row; */
    align-items: flex-start;
    
}