<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/logo.png">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/responsive.css">


    <title>Own</title>
</head>
<body id="app-home">
    <div id="conectivity">
        <button id="color-status" alt="conecção" class="disconected"></button>
    </div>

    <main id="app-home-views">

        <h1 alt="titulo">Own</h1>
        <h3 alt="sub-titulo">Cheked please</h3>
  
        <img id="main-logo"  src="/img/logo.png" alt="Logo colorida">
        <p>Seu APP de gerenciamento de compras.</p>
        
        <div>
            <button class="button-sec" alt="botao contas">Contas</button>
            <button class="button-main" alt="botao compras" href="">compras</button>
        </div>


    </main>


<script type="module" src="/scripts/index.js" ></script>

</body>
</html> 