<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/logo.png">
    <link rel="stylesheet" href="/style/main.css">
    <link rel="stylesheet" href="/style/index.css">
    <link rel="stylesheet" href="/style/responsive.css">



    <title>APP</title>
</head>
<body id="app-home">
    
    <main id="app-home-views">
        <div id="conectivity">
            <button id="color-status" alt="conecção" class="disconected"></button>
        </div>

        <h1 alt="titulo">Own</h1>
        <h3 alt="sub-titulo">Cheked Please</h3>
  
        <img id="main-logo"  src="/img/logo.png" alt="Logo colorida">
        <p>Seu app de Gerenciamento de compras.</p>
        
        <div>
            <button class="button-sec " alt="botao Pesquisar"><img class="hide"src="#" alt="icon sear"> Mensal</button>
            <button class="button-main " alt="botao monitorar" href="#"><img class="hide" src="" alt="icon monitor"> Compras</button>
        </div>

        <script type="module"src="/script/index.js"></script>
</body>
</html>