<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/Pelikan-color.png">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/notFound.css">
    <link rel="stylesheet" href="/styles/responsive.css">


    <link rel="manifest" href="/manifest.json" />
    <link rel="apple-touch-icon" href="/assets/images/logo-96x96.png">
    <meta name="apple-mobile-web-app-status-bar" content="#FFE1C4">
    <meta name="theme-color" content="#FFE1C4">
    <script src="/app.js"></script>
    <title>Pagina Não Encontrada</title>
</head>
<body id="not-found">
    <header>
        <div class="head-bar">
            <button class="bt-return"><img src="/img/arrow-left.svg" alt=""></button>
            <div class="triangle-box">
                <img id="logo" src="/img/logo.png" alt="logo">
                <div class="triangle">
                </div>
            </div>
            <button class="bt-options"><img src="/img/menu.svg" alt="icon menu"></button>
        </div>
    </header>
    <main >
        <h1>Página não encontrada</h1>
    </main>


<script type="module" src="/scripts/notFound.js"></script>

</body>
</html> 