<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/logo.png">
    <link rel="stylesheet" href="/style/main.css">
    <link rel="stylesheet" href="/style/notFound.css">
    <link rel="stylesheet" href="/style/responsive.css">
    <title>hoooo</title>
</head>
<body>
    <header>
        
    </header>
    <main>
        <h1>hoooooo</h1>
        <h2>Pagina não encontrada</h2>
    </main>
    
</body>
</html>