:root{
    --color-background: #dfdad7;
    --color-background2: #9799C4;
    --color-primary:#116350;
    --color-pri-light: #00B087/*#9bdeac*/;
    --color-base:#071663;
    --color-base-light:#152EB0;
    --color-especial:#361B63;
    --color-especial2:#581B7A;
    --color-secundary:#0C4085;
    --color-sec-light:#A62D02;
    font-size: 60%;

}
.hide{
    transform: scale(0);
    display: none;
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    align-items: center;
    outline: none;
}
/* configurações padrões */

body{
    background-color: var(--color-background);
    /* width: 100vw; */
}

body,
input,
button,
textarea{
    /* font: 500 1.6rem Poppins; */
    font-weight: 500;
    font-family: Poppins;
    font-size: 1.6rem;
    color: var(--color-text-base);
    /* width: 40vw; */
    /* max-width: 300px; */
}
/* ////////////////////////// */
header, header *{
    /* display: flex; */
    display: inline;
    align-items: center;
    justify-content: center;
}
.head-bar{
    display: flex;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    /* background-color: yellow; */
    height: 7vh;
    background-color: var(--color-primary);
    box-shadow: 0px 2px 6px black;
    justify-content: space-between;
    /* margin-bottom: 5vh; */
    min-height: 30px
}

.triangle-box{
    display: flex;
    flex-direction: column;
}
.triangle{
    position: relative;
    z-index: 4;
    width: 0; 
    height: 0;    
    /* left:30vw; */
    /* justify-content: center; */
    border-left: 20vw solid transparent;
    border-right: 20vw solid transparent;
    border-top: 6vh solid var(--color-primary);
}


#logo{

   position: relative;
   border: 3px solid black;
   z-index: 5;
   /* left:-6vw; */
   top: 4.5vh;
   padding: 3px;
   border-radius: 50%;
   width: 12vw;
   height: 12vw;
   min-width: 40px;
   min-width: 40px;
   max-width: 55px;
   max-height:55px;
}
/* /////////////////////////////////// */

button img{
    /* border: 1px solid red; */
    height: 22px;
    width: 22px;
    padding: 0;
    margin: 0;
}
button{
    
    align-items: center;
    
    border: none;
    padding: 9px;
    border-radius: 8px;
    font-weight: bold;
    /* background-color; */ 
}
button:hover:not(.bt-return,.bt-options){
    border: 2px solid yellow;
    padding: 7px;
}


button.button-main{
    background-color: var(--color-primary);
}
button.button-main:active{
    background-color: var(--color-pri-light);
}

button.button-sec{
    background-color: var(--color-base);
}
button.button-sec:active{
    background-color: var(--color-base-light);
}

button.bt-return{
    background-color: transparent;
    border: none;
    /* padding: 5px 2px 0; */
}
button.bt-return:hover, .bt-options:hover{
    background-color: var(--color-pri-light) ;
}
button.bt-options{
    background-color: transparent;

}
button.bt-add{
    position: fixed;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    top:90vh;
    left: 85vw;
    background-color: red;
    transition: 200ms;
    opacity: 0.6;
    box-shadow: 2px 3px 2px gray;
}
button.bt-add:hover{
    opacity: 1;
}
button.bt-add:active{
    box-shadow: 0px 3px 8px gray;
    transform: translateY(4px);
}


.view {
    /* Prefixes are needed for Safari and other WebKit-based browsers */
    transition: -webkit-transform 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946);
    transition: transform 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946);
  }


/* Filter - statistics */

.monitor-box{
    display: flex;
    flex-direction: row;
    width: 85%;
    border: 1px solid #80808077;
    background-color: white;
    justify-content: space-between;
    padding: 5px;
    border-radius: 8px;
    margin-bottom: 3vh;
    margin-top:7vh ;
}

.monitor-box .filter-options{
    display: flex;
    flex-direction: column;
    align-items: initial;
    justify-content: left ;
}
.monitor-box .filter-options label{
    text-align: left;
    margin-left: 2px;
}
.monitor-box .filter-options select{
    padding: 4px;
    border-radius: 8px;
    width: 30vw;
    max-width: 200px;
}



/* Estatisticas  */
.statistics{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.statistics p{
    display: inline;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 1vw;
}
.statistics span:hover{
    font-weight: bold;
    font-size: 1.5rem;
}


  /* -------- TRADUÇÕES --------- */

.list-translations, .title-list{
    width: 90vw;
}


.list-translations{
    overflow-y: scroll;
    background-color: white;
    /* overflow-anchor: auto; */
    max-height: 400px; 
}
.list-translations .ajuste{
    margin-bottom:7vh ;
}

.list-translations .title-list{
    box-shadow: 0px 2px 7px black;
    position: absolute;
    
    z-index: 3;
    /* top: 7vh; */
    padding: 1vh 2vw;
    border-radius: 8px 8px 0 0;
    display: flex;
   
    justify-content: space-between;
    background-color: var(--color-base);
    font-size: 1.3em;
}

.list-translations .title-list h2{
    color: white;
    display:flex;
    flex-direction:row;
}
.list-translations .title-list span.qtd{
    margin-right: 3vw;
}

.list-translations .title-list h2,h3,span,label{
    font-size: 0.8em;
}

.list-translations .translation{
    /* border: 1px solid #808080cc; */
    margin: 2vh 0 3vw 3vw ;
    background-color: var(--color-background);
    padding-bottom:1vh ;
    border-radius: 5px 0 0 8px;
    transition: 200ms;
}
.list-translations .translation:hover .title-translation span.update{
    color:white;
}

.list-translations .translation .title-translation{
    display: flex;
    padding: 3px 4px;
    border-radius: 5px 0 0 0;
    justify-content: space-between;
    background-color: var(--color-base-light);
    margin-bottom: 10px;
}

.title{
    font-size: 0.9em;
}
.translation:hover  .title{
    color: white;
}
.list-translations .translation .title-translation span.update{
    color: #707070;
    padding-right: 2vw;
}
.list-translations .translation span:not(.update){
    margin: 3vh 4vw ;
    color: red;
}
.list-translations .translation:hover{
    background-image: linear-gradient(var(--color-pri-light),white);
    font-weight: bold;
    box-shadow: 1px 1px 5px gray;
    transform: translateX(-8px);
}


/* adicionar  */

.add-popup{
    position:fixed;
    display: flex;
    align-content: center;
    align-items: center;
    top:0;
    left: 0;
    z-index: 4;
    background-color:#000000cc;
    width: 100%;
    height: 100%;
}
.add-box{
    position:fixed;
    z-index: 7;
    /* position: relative; */
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    width: 70%;
    max-height: 75%;
    margin: auto;
    background-color: var(--color-background);
    border-radius: 8px;
    border: none;
    transition: 200ms;
    
}
/* .add-popup *{
    
} */
.add-box input[type='number']{
    width:  30vw;
    min-width: 100px;
    text-align: center;
}
.add-box input,textarea{
    padding: 5px;
    border-radius: 5px;
}

.add-box header{
    position: fixed;
    display: flex;
    /* top:20vh; */
    z-index: 8;
    font-size: 0.8em;
    width: 70%;
    min-width: 325px;
    
    border-radius: 8px 8px 0 0 ;
    background-color: var(--color-base);
    padding: 2px 8px;
    margin-bottom: 5vh;
    padding: 8px;
    color: white;
    justify-content: space-between;
}
.add-box header h2{
    margin-right: 20px;
}


.add-box form{
    padding: 0 8px;
    display: block;
    flex-direction: column;
    align-items: center;

}

.field{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.field-group{
    display: flex;
    flex-direction: row;
}
details{
    margin: 3vh 0;
    display: flex;
    /* padding: 1vh 2vw; */
    flex-direction: column;
    align-self: center;
    justify-content: left;
    background-color: white;
    border-radius: 5px;
}
details input{
    width: 15px;
    margin:1vh 1vw;
}
.add-box label:not(details label){
    font-weight: bold;
    margin: 5px;
}
details summary{
    padding: 3px 5px;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
    display: flex;
    justify-content: space-between;
    background-color: var(--color-base-light);
    color: white;
}
details .field{
    font-weight: 500;
}

details summary input{
    margin: 0;
    width: 15px;
}
.add-box .ajuste{
    margin-bottom: 10vh;
}

.add-box  form textarea{
    margin: 0 5vw ;
    width: 80%;
    text-align: center;
}

.add-box .date-time label, .date-time input{
    margin-top: 3px;
    margin-left: 5px;
    border-radius: 5px;
}
.add-box input[type='date']{
    /* background-color: red; */
    width: 25vw;
    min-width: 152px;
    padding: 0;
}

.add-box input[type='time']{
    /* background-color: red; */
    width: 10vw;
    min-width: 60px;
    padding: 0;
}

.add-box input[type='submit']{
    display: block;
    margin: 1vh auto 3vh;
    padding: 3px;
    max-width: 200px;
    background-color: var(--color-primary);
    box-shadow: 2px 5px 5px;
}
.add-box input[type='submit']:hover{
    background-color: var(--color-pri-light);
    
}
.add-box input[type='submit']:active{
    transform: translateY(5px);
    box-shadow: 0px 0px 0px;
    margin-bottom: 3vh-5px;
}
/* /////////////////////////////// */

/* .translation:hover:active{
    position: relative;
    display: block;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 80vw;
    height: 40vh;
    transform: translate(10px,2px);
    border-radius: 10px 20px 40px 100px;
} */

/* //////  MENU    //////// */
.menu-op{
    position: fixed;
    right: 0;
    z-index: 7;
    top: 8vh;
    background-color: var(--color-background);
    border-radius: 5px;
    border: 1px solid black;
     
    box-shadow: 1px 2px 5px black;
    transform: scaleY(0);
    transition: bottom 500ms, linear 200ms;
}
div.focused{
    transform: translateY(-10%) scaley(1);
}
.menu-op > ul,li{
    list-style-type: none;
}
.menu-op li{
    margin: 5px 0;
    padding: 3px 3px 3px 10px;
}
.menu-op li:hover{
    padding: 2px 2px 2px 9px;
    border: 1px solid var(--color-background2);
    font-weight: bold;
}


.triangle-up{
    position: relative;
    z-index: 4;
    top: -10px;
    right: -35%;
    width: 0; 
    height: 0;    
    /* left:30vw; */
    /* justify-content: center; */
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid var(--color-background);
}
/* ------------SEARCH BAR---------------------- */
.search-bar{
    box-shadow: 2px 2px 5px black;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    left: 10px;
    top:90vh;
    background-color: var(--color-background2);
    padding: 8px;
    border-radius: 20px;
    transition: 200ms;

    transition: width 500ms, linear 200ms;
}
.search-bar:active{
    box-shadow: 0px 0px 0px black;
    transform: translateY(5px);

}

.search-bar input{
    display: none;
    height: 20px;
    width: 0px;
    padding: 20px;
    border:none;
    border-radius: 5px;
    transform: scaleX(0);
}

.search-bar button{
    position: relative;
    z-index: 2;
    /* left: -40px; */
    background-color: var(--color-pri-light);
    background-image: url('/img/search.svg');
    background-position: center;
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid greenyellow;
}

.search-bar.focused{
    border-radius: 8px;
    left: 10px;
    top:11vh;
}
.search-bar.focused button{
    transform: translateX(-40px);
    border-radius: 5px;
}
.search-bar.focused > button:active{
    background-color: greenyellow;
}
.search-bar.focused input{
    display: flex;
    width: 30vw;
    min-width: 200px;
    transform: scaleX(1);
}
.hiding{
    opacity: 0;
    display:none;
}
/*olha o wpp*/
.introduction{
    opacity: 1;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 20;
    top: 0;
    left: 0;
    transition: 600ms;
}
.grid-colum{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.sucefull{
    position: fixed;
    top: 20vh;
    justify-content: center;
    z-index: 20;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
    height: 40vh;
    border: 2px solid var(--color-especial);
    box-shadow: 3px 2px 5px greenyellow;
    background-color: var(--color-background);
    transition: 400ms;
    border-radius: 30%;
}
